<form action="/api/upload" method="post" enctype="multipart/form-data">
    <div class="form-field">
        <label for="title">Image title</label>
        <input type="title" name="title">
    </div>
    <div class="form-field">
        <label for="img">Image Upload</label>
        <input type="file" name="img">
    </div>
    <button type="submit">Add post</button>
</form>
<div class="show-image">
    <img src="<%= image_url %>" width="200" alt="">
</div>