<div class="ui menu stackable tiny blue">
    <div class="ui container">
        <a href="/" class="header item">Mybrary</a>
        <li class="item"><a href="/authors">Authors</a></li>
        <li class="item"><a href="/authors/new">Add Author</a></li>
        <li class="item"><a href="/books">Books</a></li>
        <li class="item"><a href="/books/new">Add Book</a></li>
    </div>
</div>
