$bgcf : rgb(62, 7, 70);
$bg : rgb(0, 102, 102);
$ipbg: rgb(0, 180, 165);

body{
    padding: 0;
    margin: 0;
    background-color: $bg;
    color:$bgcf;

}


.whole-site{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    .side{
        text-align: center;
        width: 50%;
        .left{
            h1{
                text-transform: capitalize;
                font-size: 5rem;
                margin: 0;
            }
            p{
                font-size: 1rem;
                margin-left: 40px;
            }
        }
        .right{
            margin-top: 45%;
            .form{
                .input-field{
                    margin-bottom: 10px;
                    display: block;
                    input{
                        padding: 20px 85px ;
                        background: $ipbg;
                        color: $bg;
                        border: none;
                        outline: none;
                    }
                    ::placeholder {
                        color: $bg;
                      }
                }
                #error{
                    display: none;
                }
                .button{
                    padding: 10px 55px ;
                    background: $bgcf;
                    color: $ipbg;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .side-2{
        height: 100vh;
        background: white;
    }
    
    
}