<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailchimp</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="whole-site">
        <div class="side side-1">
            <div class="left">
                <h1>Get all update</h1>
                <p>Lorem ipsum dolor sit, amet consectetur et facilis corporis</p>
            </div>
        </div>
        <div class="side side-2">
            <div class="right">
                <!-- https://www.w3schools.com/tags/att_input_pattern.asp -->
                <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/pattern -->
                <form action="/subscribe" method="POST" class="form">
                    <div class="input-field">
                        <input type="email" name="email" id="email" required placeholder="Enter your email">
                    </div>
                    <p id="error">please enter an email</p>
                    <button class="button" id="submit" type="submit">Subscribe</button>
                </form>
            </div>
        </div>

    </div>
    <script src="/js/main.js"></script>
</body>

</html>