<h2>New book</h2>
<form action="/books" method="POST" class="ui blue form" >
    <%- include('_form_fields') %>
    <a href="/books" class="ui button red">Cancel</a>
    <button type="submit" class="ui green button">Create</button>
</form>
