<h2>New author</h2> 
<form action="/authors" method="POST" class="ui form">
    <div class="ui field">
        <%- include('_form_fields') %>
    </div>
    <a href="/authors" class="ui button red">Cancel</a>
    <button type="submit" class="ui green button">Create</button>
</form>